{#
/**
 * @file
 *
 *  Important!
 *  The content type label (i.e. "Article") needed to be set in the
 *  nodesTypesThatUseNodeDetailsLayout variable under page.html.twig,
 *  this is when a node type switches over to the new layout.
 *
 * /
#}
{% if content %}
  <div {{ attributes.addClass('node-details-layout', (content.rightrail|render|length) ? "has-rightrail") }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass('node-details-layout__main-region') }}>
        <div class="content-wrapper">
          {# page title #}
          {{ drupal_block('page_title_block', {label_display: false }) }}
          {{ content.main }}
        </div>
      </div>
    {% endif %}
    {% if content.rightrail|render|length %}
      <div {{ region_attributes.rightrail.addClass('node-details-layout__rightrail-region') }}>
        {{ content.rightrail }}
      </div>
    {% endif %}
  </div>
{% endif %}
