{% if content %}
  <div {{ attributes.addClass('node-details-layout', (content.sidebar) ? "has-sidebar") }}>
    {% if content.main %}
      {# breadcrumbs #}
      <div {{ region_attributes.main.addClass('node-details-layout__main-region') }}>
      
        {{ drupal_block('system_breadcrumb_block') }}

        <div class="content-wrapper">
          {# page title #}
          {{ drupal_block('page_title_block', {label_display: false }) }}
          {{ content.main }}
        </div>
      </div>
    {% endif %}
    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass('node-details-layout__sidebar-region') }}>
        {{ content.sidebar }}
      </div>
    {% endif %}
  </div>
{% endif %}
