{#
/**
 * @file
 * Template for a 3 column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   $content['middle']: The only panel in the layout.
 */
#}
{%
  set these_classes = [
    'panel-display',
    'panel-1col',
    'clearfix',
  ]
%}
<div {{ attributes.addClass(these_classes) }} {% if css_id %}{{ css_id }}{% endif %}>

  {# Only render alert section if content.alert[<block_id>]['content']['#view'] exists #}
  {% for k, o in content.alert %}
    {% if k != '#prefix' and k != '#suffix' %}
      {% if o['content']['#view'] %}
        <section id="alert" class="hp-section">
          <h2 class="visually-hidden">SEC Alerts</h2>
          {% for o in content.alert|slice(0, 1) %}
            <div {{ region_attributes.alert }}>{{ content.alert }}</div>
          {% endfor %}
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if content.hero %}
	<section id="hero" {{ region_attributes.hero.addClass('hero', 'block-region-hero') }}>
	{{ content.hero }}
	</section>
  {% endif %}

  <section id="section-1" class="hp-section odd-row">
  	<div class="panel-panel panel-col">
    	<div {{ region_attributes.section_1_title }}>{{ content.section_1_title }}</div>
    	<div {{ region_attributes.section_1_left.addClass('column', 'colspan-8') }}>{{ content.section_1_left }}</div>
    	<div {{ region_attributes.section_1_right.addClass('column', 'colspan-4', 'last') }}>{{ content.section_1_right }}</div>
  	</div>
  </section>

  <section id="section-2" class="hp-section even-row">
    <div class="panel-panel panel-col">
    	<div {{ region_attributes.section_2_title }}>{{ content.section_2_title }}</div>
      <div {{ region_attributes.section_2_left.addClass('column', 'colspan-4') }}>{{ content.section_2_left }}</div>
      <div {{ region_attributes.section_2_right.addClass('column', 'colspan-8', 'last') }}>{{ content.section_2_right }}</div>
    </div>
  </section>

  <section id="section-3" class="hp-section odd-row">
    <div class="panel-panel panel-col">
      <div {{ region_attributes.section_3_title }}>{{ content.section_3_title }}</div>
      <div {{ region_attributes.section_3_left.addClass('column', 'colspan-8') }}>{{ content.section_3_left }}</div>
      <div {{ region_attributes.section_3_right.addClass('column', 'colspan-4', 'last') }}>{{ content.section_3_right }}</div>
    </div>
  </section>

  <section id="section-4" class="hp-section even-row">
    <div class="panel-panel panel-col">
      <div {{ region_attributes.section_4_title }}>{{ content.section_4_title }}</div>
      <div {{ region_attributes.section_4_left.addClass('column', 'colspan-4') }}>{{ content.section_4_left }}</div>
      <div {{ region_attributes.section_4_right.addClass('column', 'colspan-8', 'last') }}>{{ content.section_4_right }}</div>
    </div>
  </section>

  <section id="section-5" class="hp-section odd-row">
    <div class="panel-panel panel-col">
      <div {{ region_attributes.section_5_title }}>{{ content.section_5_title }}</div>
      <div {{ region_attributes.section_5_left.addClass('column', 'colspan-8') }}>{{ content.section_5_left }}</div>
      <div {{ region_attributes.section_5_right.addClass('column', 'colspan-4', 'last') }}>{{ content.section_5_right }}</div>
    </div>
  </section>

  <section id="section-6" class="hp-section even-row">
    <div class="panel-panel panel-col">
      <div {{ region_attributes.section_6_title }}>{{ content.section_6_title }}</div>
      <div {{ region_attributes.section_6_left.addClass('column', 'colspan-4') }}>{{ content.section_6_left }}</div>
      <div {{ region_attributes.section_6_right.addClass('column', 'colspan-8', 'last') }}>{{ content.section_6_right }}</div>
    </div>
  </section>

</div>
