{# Note: “footer_style” isn’t currently used but could be in the future if need be #}
<footer class="{{ footer_classes }} bg-navy bg-gradient-overlay l-padding" id="footer">
  <div class="usa-footer__wrap">
    <div class="usa-footer__return-to-top">
      <a href="#">Return to top</a>
    </div>

    {# Mobile Logo #}
    <div class="usa-footer__logo usa-footer__logo--mobile">
      <a class="usa-footer__logo-link" href="/">
        {# Use visually-hidden text instead of alt text since it can be more easily translated #}
        <span class="visually-hidden">SEC homepage</span>
        {% set path_to_logo = drupal_url(active_theme_path() ~ '/dist/img/logos/sec-logo-white') %}
        <img class="usa-footer__logo-img"
          src="{{ path_to_logo }}-1x.png"
          srcset="{{ path_to_logo }}-1x.png 1x, {{ path_to_logo }}-2x.png 2x"
          alt=""/>
      </a>
    </div>

    {% if page.footer_menu or page.footer %}
      <div class="usa-footer__primary-section">
        {# see https://www.drupal.org/project/drupal/issues/953034#comment-14192130 #}
        {% if page.footer_menu|render|striptags('<img><video><audio><drupal-render-placeholder>')|trim %}
          <nav class="usa-footer__nav" aria-label="Footer">
            {# Menu code in uswds_sec/templates/system/menu/menu--footer_menu.html.twig #}
            {{ page.footer_menu }}
          </nav>
          <div class="usa-sign-up">
            <h3 class="usa-sign-up__heading">Stay connected. Sign up for our&nbsp;newsletter.</h3>
              {{ pattern('govdelivery_form', {
                list_id: '?',
                form_id_prefix: 'footer_signup',
                class_prefix: 'footer_signup',
                label_text: 'Your email address',
                button_text: 'Sign Up',
              }) }}
          </div>
        {% endif %}
      </div>{# end usa-footer__primary-section #}
    {% endif %}

    {% if footer_social %}
      <div class="usa-footer__secondary-section">
        {# Desktop Logo #}
        <div class="usa-footer__logo usa-footer__logo--desktop">
          {% set path_to_logo = drupal_url(active_theme_path() ~ '/dist/img/logos/sec-logo-white') %}
          <img class="usa-footer__logo-img"
            src="{{ path_to_logo }}-1x.png"
            srcset="{{ path_to_logo }}-1x.png 1x, {{ path_to_logo }}-2x.png 2x"
            alt="U.S. Securities and Exchange Commission logo"/>
        </div>
        {# Contact Links #}
        <ul class="usa-footer__social" role="list">
          {% if twitter %}
            <li class="usa-footer__social-item">
              <a class="usa-social-link usa-social-link--twitter" href="{{ twitter }}">
                <span class="visually-hidden">Twitter</span>
                {% include '@uswds_sec/includes/icon.html.twig' with {
                  'name': 'twitter',
                  'classes': 'usa-social-link__icon'
                } %}
              </a>
            </li>
          {% endif %}
          {% if facebook %}
            <li class="usa-footer__social-item">
              <a class="usa-social-link usa-social-link--facebook" href="{{ facebook }}">
                <span class="visually-hidden">Facebook</span>
                {% include '@uswds_sec/includes/icon.html.twig' with {
                  'name': 'facebook',
                  'classes': 'usa-social-link__icon'
                } %}
              </a>
            </li>
          {% endif %}
          {% if rss %}
            <li class="usa-footer__social-item">
              <a class="usa-social-link usa-social-link--rss" href="{{ rss }}">
                <span class="visually-hidden">RSS</span>
                {% include '@uswds_sec/includes/icon.html.twig' with {
                  'name': 'rss_feed',
                  'classes': 'usa-social-link__icon'
                } %}
              </a>
            </li>
          {% endif %}
          {% if youtube %}
            <li class="usa-footer__social-item">
              <a class="usa-social-link usa-social-link--youtube" href="{{ youtube }}">
                <span class="visually-hidden">YouTube</span>
                {% include '@uswds_sec/includes/icon.html.twig' with {
                  'name': 'youtube',
                  'classes': 'usa-social-link__icon'
                } %}
              </a>
            </li>
          {% endif %}
          {# Email Updates #}
          <li class="usa-footer__social-item">
            <a class="usa-social-link usa-social-link--youtube" href="https://public.govdelivery.com/accounts/USSEC/subscriber/new">
              <span class="visually-hidden">Email Updates</span>
              {% include '@uswds_sec/includes/icon.html.twig' with {
                'name': 'mail',
                'classes': 'usa-social-link__icon'
              } %}
            </a>
          </li>
        </ul>
      </div>{# end usa-footer__secondary-section #}
    {% endif %}
  </div>
</footer>