{% set heading_level = heading_level|default(3) %}
<div class="card-icon bg-navy bg-gradient-overlay">
  <h{{ heading_level }} class="card-icon__heading">
    {{- heading -}}
    {% if icon %}
      {% include '@uswds_sec/includes/icon.html.twig' with {
        'name': icon,
        'classes': 'card-icon__heading__icon'
      } %}
    {% endif %}
  </h{{ heading_level }}>
  {% if description %}
    <p class="card-icon__text">{{ description }}</p>
  {% endif %}
  {% if footer %}
    <div class="card-icon__footer">
      {{ footer }}
    </div>
  {% endif %}
</div>
