{% set heading_level = heading_level|default(3) %}
<div class="card-division">
  {% if img_src %}
    <div class="card-division__image">
      {%- if link %}
        {# Note: Link is same as person’s name so hide from screen readers and prevent tabbing #}
        <a class="card-division__image__link" href="{{ link }}" aria-hidden="true" tabindex="-1">
      {% endif -%}
      {# FIXME: Add “srcset” with 1x and 2x files, or multiple sizes if thats not possible #}
      {# Note: Alt text is redundant in person cards #}
      <img src="{{ img_src }}" sizes="147px" alt=""/>
      {% if link %}
        </a>
      {% endif %}
    </div>
  {% endif %}
  <h{{ heading_level }} class="card-division__name">
    {% if link %}
      <a class="card-division__name__link usa-link" href="{{ link }}">
    {% endif %}
    {{- name -}}
    {% if link %}
      </a>
    {% endif %}
  </h{{ heading_level }}>
  {% if description %}
    <p class="card-division__text">{{ description }}</p>
  {% endif %}
  {% if email %}
    <a class="card-division__link" href="mailto:{{ email }}">
      {% include '@uswds_sec/includes/icon.html.twig' with {'name': 'mail'} %}
      {{ email }}
    </a>
  {% endif %}
  {% if phone %}
    {# Strip common characters from phone number #}
    {% set phone_clean = phone|replace({' ': '', '-': '', '(': '', ')': '', '+': '', '.': ''}) %}
    <a class="card-division__link" href="tel:1{{ phone_clean }}">
      {% include '@uswds_sec/includes/icon.html.twig' with {'name': 'phone'} %}
      {{ phone }}
    </a>
  {% endif %}
  {% if fax %}
    {# Strip common characters from fax number #}
    {% set fax_clean = fax|replace({' ': '', '-': '', '(': '', ')': '', '+': '', '.': ''}) %}
    <a class="card-division__link" href="fax:1{{ fax_clean }}">
      {% include '@uswds_sec/includes/icon.html.twig' with {'name': 'fax'} %}
      {{ fax }}
    </a>
  {% endif %}
</div>
