{{ attach_library('sec_styleguide/components_filter') }}

{% set component_details = module_path ~ '/templates/component_details.html.twig' %}
{% include component_details %}

<p>To insert an icon in Drupal, click the desired icon button then copy and paste the HTML below. This will only work in fields that support markup, e.g. wysiwyg fields.</p>

<pre contenteditable><code>&lt;svg class=&quot;usa-icon&quot; aria-hidden=&quot;true&quot; focusable=&quot;false&quot; preserveAspectRatio=&quot;xMidYMid meet&quot;&gt;
  &lt;use xlink:href=&quot;/themes/custom/uswds_sec/dist/img/sprite.svg#<span class="icon-name">icon_name</span>&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;</code></pre>

<form class="usa-form clearfix" onsubmit="return false">
  <div class="grid-row grid-gap margin-bottom-5" style="align-items: flex-end;">

    <div class="desktop:grid-col-4">
      <label for="filter-input" class="usa-label">
        {{ 'Type to filter icons'|t }}
      </label>
      <input class='usa-input' type="text" id="filter-input" placeholder="Icon name…">
    </div>

    <div class="desktop:grid-col-auto">
      <button type='reset' id="btn-filter-reset" class="usa-button">
        {{ "Reset filter"|t }}
      </button>
    </div>
  </div>
</form>

<p style="margin-bottom: 1em; margin-top: 1em;">
  <span id="icon-count">{{ icon_yml.items|length }} icons.</span>
  Click an icon to copy its name.
</p>

{# Note: Set “data-filter” to the CSS selector for the component’s title element #}
<div class="margin-top-4">
  <ul class="icons" data-filter=".icons__button__name" role="list">
    {% for item in icon_yml.items %}
      <li class="icons__item" aria-label="{{ item.name }} icon.">
        <button class="icons__button usa-button usa-button--base usa-button--icon"
          type="button"
          onclick="copyHTML(this)"
          aria-label="Copy to clipboard">
          {% include '@uswds_sec/includes/icon.html.twig' with {'name': item.name} %}
          <span class="icons__button__name" aria-hidden="true">{{ item.name }}</span>
        </button>

        <span class="icons__message" aria-live="assertive" style="pointer-events: none" aria-label="{{ item.name }}"></span>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
  function copyHTML(el) {
    var icon_name = el.querySelector(".icons__button__name").textContent.trim();
    var icon_name_el = document.querySelector(".icon-name");
    var messagePlaceholder = el.nextElementSibling;
    var oldCopyNotice = document.getElementById("icon-copy-notice");
    if (oldCopyNotice) {
      oldCopyNotice.remove();
    }
    var message = document.createElement("span");
    message.setAttribute("id", "icon-copy-notice");
    message.setAttribute("aria-live", "assertive");
    message.innerHTML = "Copied to clipboard!";
    /* Copy the text inside the text field */
    navigator.clipboard.writeText(icon_name);
    messagePlaceholder.append(message);
    /* Update HTML snippet */
    icon_name_el.textContent = icon_name;
  }
</script>
