{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (his is invalid CSS for example: two lists
 *   in different view modes.
 *or make it a class), because if that gets
 *   rendered twice on a page t
 * @ingroup themeable
 */
#}
{% set articleType = content.field_article_type_secarticle|render|striptags|lower|trim|replace({' ' : '-', '/' : '-', ':' : '-', '(' : '', ')' : ''}) %}
{% if articleType is null %}
  {% set articleType = 'other' %}
{% endif %}
{% set articleSubType = content.field_article_sub_type_secart|render|striptags|lower|trim|replace({' ': '-'})|replace({'/':'-'}) %}
{% set hidePubDate = node.field_hide_publish_date.value %}
{% set modifiedDate = node.field_date.value %}
{% set publishDate = node.field_publish_date.value %}
{% set associatedData = node.field_publish_date.value %}
{% set displayPubDate = TRUE %}
{% set releaseNum = content.field_release_number %}
{% set hidePubDateList = [
    {'type':'academic-publications'}
] %}

{% for hideForArticle in hidePubDateList if articleType is same as(hideForArticle.type|trim) %}
{% set displayPubDate = FALSE %}
{% endfor %}

{% set fullWidthPage = node.field_show_full_width_page.value %}
{% if not(fullWidthPage) and articleType is not same as("data-highlight") and articleType is not same as("public-alerts--unregistered-soliciting-entities-pause") %}
  {% set classes="content aside " %}
{% else %}
  {% set classes="content" %}
{% endif %}
{% if articleType == 'data-highlight'  %}
<noscript>
  <div style="background:#B7E1F1;padding:1em;color:#000">
    <p><b>Oops!</b> The data visualization tool requires javascript, and your brower does not have javascript enabled.</p>
  </div>
</noscript>
{% endif %}
<article{{ attributes.addClass('article') }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="/{{ articleType }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
  <div{{ content_attributes.addClass('article-content') }}>
    {% if not(fullWidthPage) %}
      {% if articleSubType %}
      {{ content.field_article_sub_type_secart }}
      {% else %}
      {{ content.field_article_type_secarticle }}
      {% endif %}
    {% endif %}
    <div class="{{ classes }}{{ articleType }}">
      {% if not(fullWidthPage) %}        
        {% if articleType == 'public-alerts--unregistered-soliciting-entities-pause' %}
        <p class="line-height-2x margin-bottom-20" style="font-size:14px;">
          The PAUSE Program lists entities that falsely claim to be registered, licensed, and/or located in the United States in their solicitation of investors. The PAUSE Program also lists entities that impersonate genuine U.S. registered securities firms as well as fictitious regulators, governmental agencies, or international organizations.
        </p>
        {% endif %}
        
        <div {% if articleType == 'public-alerts--unregistered-soliciting-entities-pause' %} class="stylized-box-1 {{ articleType }}" style="border-left: 6px solid #f04b44;" {% endif %}>
        <h1 class="article-title">{{ node.field_display_title.value|raw }}</h1>
        {% if articleType == 'public-alerts--unregistered-soliciting-entities-pause' %}
        <h2 class="alt-title padding-top-0">[ {{ content.field_article_sub_type_secart.0 }} ]</h2>
        <div class="margin-20">
          <p>{{ node.field_list_page_det_secarticle.value|raw }}</p>
        </div>
        {% endif %}
        </div>

        {% if articleType is same as('academic-publications') or articleType is same as('staff-papers')  %}
        <p class="description-abstract">
          <em>{{ content.field_description_abstract|render|striptags|trim }}</em>
        </p>
        {% endif %}

        {% if not(hidePubDate) %}
          <p class="{{ articleType == 'data' ? 'article-publishdate-data' : 'article-publishdate' }}">
             {% if articleType == 'data' %}
                {% if publishDate != null and modifiedDate != null  %}
                 {{ publishDate|date("F Y") }} - {{ modifiedDate|date("F Y") }}
                {% else %}
                 {{ (publishDate != null) ? publishDate|date("F Y") : modifiedDate|date("F Y") }}
                {% endif %}
              {% else %}
               {{ (publishDate != null) ? publishDate|apdate : modifiedDate|apdate }}
             {% endif %}
          </p>
        {% endif %}

        {% if (releaseNum) %}
        <p class="release-number">{{ content.field_release_number }}</p>
        {% endif %}
      {% endif %}

      <div class="article-content-body">
      {{ content.body }}
          {% if articleType == "data-highlight"  %}
              <div class="data-highlight">
                  <div class="sidebar-container">{{ content.field_top_right_column }}</div>
                  {{ content.field_related_materials }}
              </div>
          {% endif %}
          {% if articleType == 'public-alerts--unregistered-soliciting-entities-pause' %}
          <div class="colspan-4 push-4 small-4">
            <div class="button-box button-icon-box margin-bottom-20 margin-top-20">
              <a class="padding-left-20 padding-right-20" href="#" onclick="window.history.go(-1); return false;">
                <span aria-hidden="true" class="svg-icon svg-icon-md">!</span>
                <span class="description text-align-left">Go to Public Alerts Search</span>
              </a>
            </div>
          </div>
          {% endif %}
      </div>

      {% if not(fullWidthPage) %}
        {% if node.field_media_file_upload.entity.field_media_file.entity.fileuri %}
          {% set fileURI = node.field_media_file_upload.entity.field_media_file.entity.fileuri %}
          {% set fileExt = fileURI|split('.')|last %}
          {% set dataLabel = (articleType == 'data' ) ? 'Data Dictionary' : 'Downloads' %}
          
          <div class="article-file-download">
            <h2><strong>{{ dataLabel }}</strong></h2>
            {{ content.field_data_dictionary_notes }}
              <a class="icon" href="{{ file_url(fileURI) }}" target="_blank">
                <div class="triangle"></div>{{ fileExt }}
              </a>
              {{ content.field_media_file_upload }}
          </div>
        {% endif %}

        {% if content.field_more_about_this_topic %}
        <div class="article-more-topics">
          {{ content.field_more_about_this_topic }}
        </div>
        {% endif %}
      {% endif %}
      {#  Data download #}
      {% if articleType == 'data' and data_distribution_is_set != true  %}
        <div class="associated-data-distribution">
          <h2>Data Downloads</h2>
           {{ associated_data_distribution }}
        </div>
      {% endif %}
    </div>

    {% if not(fullWidthPage) and articleType is not same as("data-highlight") %}
      <div id="sidebar-second">
		{% if content.field_top_right_column|render|trim is not empty %}
        <div class="block top-right-column">
         {{ content['field_top_right_column'] }}
        </div>
        {% endif %}

        {% if content.field_related_materials %}
        <div class="block related-materials">
          {{ content.field_related_materials }}
        </div>
        {% endif %}
      </div>
      {#{% endif %}#}
    {% endif %}
  </div>

  {% if not(fullWidthPage) and articleType is not same as("data-highlight") %}
  <div class="article-date modified">
    {% if modifiedDate|apdate is not null and modifiedDate|apdate is not same as(" , ") %}
      Modified: {{ modifiedDate|apdate }}
    {% else %}
      Modified: {{ node.changed.value|apdate }}
    {% endif %}
  </div>
  {% endif %}

</article>
