{#
/**
 * @file
 * SEC.gov's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.global_navigation: Items for the primary menu region.
 * - page.page_title: The Page title region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the first footer column.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% set pageContentType = node.type.0.target_id %}
{% if pageContentType is same as('page') %}
{% set classes = 'basic-page' %}
{% elseif pageContentType is same as('event') %}
{% set classes = 'upcoming-events' %}
{% elseif pageContentType is same as('video') %}
{% set classes = 'sec-video' %}
{% elseif pageContentType is same as('landing_page') %}
  {% if '/node/2431/layout' in path %}
    {% set classes = 'homepage' %}
  {% else %}
    {% set classes = 'landing-page' %}
  {% endif %}
{% endif %}

{% set pageTitle = node.field_display_title.0.value|lower|replace({' ':'-'}) %}
{% if pageTitle is same as('upcoming-events') %}
{% set classes = 'upcoming-events-list' %}
{% elseif pageTitle is same as('newsroom') %}
{% set classes = 'landing-page news' %}
{% endif %}

{% set fullWidthPage = node.field_show_full_width_page.0.value %}
{% set legacy = false %}
<div class="page-container">
<div id="page-wrapper">
  <div id="page" {{ attributes.addClass(classes) }}>
    <div class="page-header" role="banner">
      <div class="header-content">
      {{ page.header }}
      </div>

      <div class="global-navigation" id="global-navigation">

        <div class="desktop-menu">
          {{ page.global_navigation }}
        </div>

        <div class="mobile-menu" style="display: none;">
          {{ renderMenu('mobile-navigation') }}

          {% if node.field_left_nav_override.0.target_id %}
            {{ renderMenu(node.field_left_nav_override.0.target_id) }}
          {% elseif pageContentType == 'secperson' %}
            {% for item in node.field_position_history_paragraph if not break %}
              {% if item.entity.field_current_position.value == 1 %}
                {% set positionType = item.entity.field_position_category.value %}
                {% if positionType == 'Other' %}
                  {{ page.sidebar_first}}
                {% else %}
                  {{ renderMenu('about') }}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% elseif navArticleType is same as('Investor Alerts and Bulletins')
              or navArticleType is same as('Fast Answers') %}
            {{ renderMenu('investor-information-menu') }}
          {% elseif navArticleType is same as('Webcasts')
              or navArticleType is same as('Agendas')
              or navArticleType is same as('Sunshine Act')
              or navArticleType is same as('Fact Sheets') %}
            {{ renderMenu('newsroom-left-nav') }}
          {% elseif (navArticleType is same as('Contact Information')
                or navArticleType is same as('Announcement')
                or navArticleType is same as('Education/Help/Guides/FAQs')
                or navArticleType is same as('Other'))
            and navDivisionOffice is same as('Agency-Wide')
          %}
            {{ renderMenu('about') }}
          {% elseif navArticleType is same as('Forms') %}
            {{ renderMenu('filings-menu') }}
          {% elseif navArticleType is same as('Laws') %}
            {{ renderMenu('about') }}
          {% elseif navArticleType is same as('Data') %}
            {% if navArticleSubtype is same as('Data-MarketStructure') %}
              {{ renderMenu('market-structure-left-nav') }}
            {% elseif navArticleSubtype is same as('Data-MarketStatistics') %}
                {{ renderMenu('dera') }}
            {% else %}
              {{ renderMenu('about') }}
            {% endif %}
          {% elseif navArticleType is same as('Staff Papers') %}
            {% if navDivisionOffice is same as('Agency-Wide')%}
              {{ renderMenu('about') }}
            {% else %}
              {{ page.sidebar_first}}
            {% endif %}
          {% elseif navArticleType is same as('Reports and Publications') %}
            {% if navArticleSubtype is same as('Reports and Publications-InvestorPublications') %}
              {{ renderMenu('investor-information-menu') }}
            {% elseif navArticleSubtype is same as('Reports and Publications-Other') and navDivisionOffice is same as('Agency-Wide')%}
              {{ renderMenu('about') }}
            {% elseif navArticleSubtype is same as('Reports and Publications-Other') %}
              {{ page.sidebar_first}}
            {% else %}
              {{ renderMenu('about') }}
            {% endif %}
          {% elseif left_nav_override|default %}
            {{ renderMenu(left_nav_override) }}
          {% else %}
              {{ page.sidebar_first}}
          {% endif %}
        </div>

      </div>
    </div>
    {% if page.highlighted %}
      <div class="highlighted">
        <aside role="complementary" class="message section clearfix">
          {{ page.highlighted }}
        </aside>
      </div>
    {% endif %}

    {% if page.content %}

      {% set pageTitle = page.page_title|render|striptags|trim %}
        {% if '403' in pageTitle or 'Oops' in pageTitle or 'temporarily unavailable' in pageTitle %}
          {% set pageType = 'error-page-content' %}
        {% else %}
          {% set pageType = 'content-wrapper' %}
        {% endif %}

        {% if pageContentType == 'event' or pageContentType == 'video' or page['#title'] is same as('Upcoming Events') %}
          {% set fullWidthPage = true %}
        {% endif %}

        {% if fullWidthPage or (pageContentType is same as('landing_page') and node.field_left_nav_override.0.target_id is null ) %}
          {% set pageType = 'full-width' %}
        {% endif %}

        {% if media_type == 'video_media' %}
          {% set pageType = 'full-width' %}
        {% endif %}

    {% endif %}

    <div class="page-content">
      <div id="main-wrapper" class="layout-main-wrapper layout-container clearfix">

      {% set navArticleType = node.field_article_type_secarticle.0.get('entity').getTarget().get('title').getValue().0.value %}
      {% set navArticleSubtype = node.field_article_sub_type_secart.0.value %}
      {% set navDivisionOffice = node.field_primary_division_office.0.get('entity').getTarget().get('name').getValue().0.value %}


      {% if pageContentType == 'secarticle' and navArticleType is null %}
        {% set navArticleType = 'Other' %}
    {% set legacy = true %}
      {% endif %}

      {% if page.sidebar_first and pageType != 'error-page-content'
        or node.field_left_nav_override.0.target_id
        or node.field_article_sub_type_secart.0.value
        or navArticleSubtype
        or navArticleType
        or pageContentType == 'secperson'
        or left_nav_override|default
      %}

    {% if not(fullWidthPage) %}
        <div id="sidebar-first" class="sidebar">
          <aside role="complementary" class="local-nav">
            <nav role="navigation">
            {% if node.field_left_nav_override.0.target_id %}
              {{ renderMenu(node.field_left_nav_override.0.target_id) }}
            {# elseif node.field_left_nav_person.0.target_id #}
                {# renderMenu(node.field_left_nav_person.0.target_id) #}
            {# elseif node.field_left_nav_secarticle.0.target_id #}
                {# renderMenu(node.field_left_nav_secarticle.0.target_id) #}
            {% elseif pageContentType == 'secperson' %}

              {% for item in node.field_position_history_paragraph if not break %}
                {% if item.entity.field_current_position.value == 1 %}
                  {% set positionType = item.entity.field_position_category.value %}
                  {% if positionType == 'Other' %}
                    {{ page.sidebar_first}}
                  {% else %}
                    {{ renderMenu('about') }}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% elseif navArticleType is same as('Investor Alerts and Bulletins')
                or navArticleType is same as('Fast Answers') %}
              {{ renderMenu('investor-information-menu') }}
            {% elseif navArticleType is same as('Webcasts')
                or navArticleType is same as('Agendas')
                or navArticleType is same as('Sunshine Act')
                or navArticleType is same as('Fact Sheets') %}
              {{ renderMenu('newsroom-left-nav') }}
            {% elseif (navArticleType is same as('Contact Information')
                  or navArticleType is same as('Announcement')
                  or navArticleType is same as('Education/Help/Guides/FAQs')
                  or navArticleType is same as('Other'))
              and navDivisionOffice is same as('Agency-Wide')
            %}
              {{ renderMenu('about') }}
            {% elseif navArticleType is same as('Forms') %}
              {{ renderMenu('filings-menu') }}
            {% elseif navArticleType is same as('Laws') %}
              {{ renderMenu('about') }}
            {% elseif navArticleType is same as('Data') %}
              {% if navArticleSubtype is same as('Data-MarketStructure') %}
                {{ renderMenu('market-structure-left-nav') }}
              {% elseif navArticleSubtype is same as('Data-MarketStatistics') %}
                {{ renderMenu('dera') }}
              {% else %}
                {{ renderMenu('about') }}
              {% endif %}
            {% elseif navArticleType is same as('Staff Papers') %}
              {% if navDivisionOffice is same as('Agency-Wide')%}
                {{ renderMenu('about') }}
              {% else %}
                {{ page.sidebar_first}}
              {% endif %}
            {% elseif navArticleType is same as('Reports and Publications') %}
              {% if navArticleSubtype is same as('Reports and Publications-InvestorPublications') %}
                {{ renderMenu('investor-information-menu') }}
              {% elseif navArticleSubtype is same as('Reports and Publications-Other') and navDivisionOffice is same as('Agency-Wide')%}
                {{ renderMenu('about') }}
              {% elseif navArticleSubtype is same as('Reports and Publications-Other') %}
                {{ page.sidebar_first}}
              {% else %}
                {{ renderMenu('about') }}
              {% endif %}
            {% elseif left_nav_override|default %}
              {{ renderMenu(left_nav_override) }}
            {% else %}
                {{ page.sidebar_first}}
            {% endif %}
          </nav>

          </aside>
        </div>
        {% endif %}
      {% endif %}
      <div id="{{ pageType }}" class="layout-main">

      <a id="main-content" tabindex="-1"></a>

    {% if page.breadcrumb %}
    {{ page.breadcrumb }}
    {% endif %}

    {% if pageContentType is same as('landing_page') %}
      <div id="landing-page-title" class="clearfix">
        {{ page.page_title }}
        <h1 class="landing"> {{ node.field_display_title.0.value }} </h1>
        {% include '@secgov/components/addthis.html.twig' %}
      </div>
    {% elseif pageContentType is same as('event')
           or pageContentType is same as('video')
           or pageContentType is same as('secperson')
    %}

      <div id="page-title">
      {% if pageContentType is same as('secperson') %}
        <h1>Biography</h1>
        {% include '@secgov/components/addthis.html.twig' %}
      {% elseif pageContentType is same as('event')  %}
        {% if node.field_display_title.value %}
          <h1>{{ node.field_display_title.value }}</h1>
        {% else %}
          <h1>{{ node.title.value }}</h1>
        {% endif %}
        {% include '@secgov/components/addthis.html.twig' %}
      {% else %}
        {{page.page_title}}
        <h1>{{ node.field_display_title.value }}</h1>
		    {% include '@secgov/components/addthis.html.twig' %}
      {% endif %}
      </div>
	{% elseif pageContentType == 'secarticle' and navArticleType == 'Other' and legacy == true %}
		<div id="page-title">
		<h1></h1>
		{% include '@secgov/components/addthis.html.twig' %}
		</div>
  {% elseif pageContentType is same as('rule') %}
    {% if rule_type_title is defined %}
    <div class="rule-type-header">{{ rule_type_title ~ " Rule" }}</div>
    {% endif %}
    <div id="page-title">
    {% if node.field_display_title.value and node.title.value|length < 256 %}
      <h1>{{ node.field_display_title.value }}</h1>
    {% else %}
      <h1>{{ node.title.value }}</h1>
    {% endif %}
    </div>
	{% else %}
		{{page.page_title}}
    {% endif %}

    {% if page and not node %}
      {% if node.title.value %}

        <div id="page-title">
          <h1>{{ node.title.value }}</h1>
          {% include '@secgov/components/addthis.html.twig' %}
        </div>
      {% else %}

        <div id="page-title">
          <h1>{% if title_override %}{{title_override}}{% else %}{{ page['#title'] }}{% endif %}</h1>
          {% include '@secgov/components/addthis.html.twig' %}
        </div>
      {% endif %}

    {% endif %}

      {% if page.content %}
        <div id="content"{% if page.sidebar_second and pageType != 'error-page-content' %}{{ attributes.addClass('content aside') }}{% else %}{{ attributes.addClass('content') }}{% endif %}>
          {{ page.content }}
        </div>
      {% endif %}

        {% if page.sidebar_second and pageType != 'error-page-content' %}
        <aside role="complementary" id="sidebar-second">
          {{ page.sidebar_second }}
        </aside>
        {% endif %}

      {% if page.sidebar_grid and pageType != 'error-page-content' %}
        <aside role="complementary" id="sidebar-grid">
          {{ page.sidebar_grid }}
        </aside>
        {% endif %}

      </div>

      {% if pageContentType is same as('landing_page') or pageType is same as('error-page-content') %}
        <p class="modified-date"><em>Modified: {{ node.field_date.0.value is not null ? node.field_date.0.value|apdate : node.changed.value|apdate }}</em>
         </p>
      {% endif %}

    </div>
    </div>

    {% if page.footer %}
      <footer class="page-footer">
        {% if page.footer_top %}
          <div class="page-footer-top">
            {{ page.footer_top }}
          </div>
        {% endif %}
        <div class="page-footer-cols">
        {{ page.footer }}
        </div>
      </footer>
    {% endif %}

  {% if page and not node %}
    <script>
      if (typeof dataLayer != "undefined") dataLayer.push({"pageType": "{{page['#title']|striptags|trim}}"});
    </script>
  {% else %}
    {% set nodeTitle = node.title.value %}
    {% if (nodeTitle is same as("Error 403: Forbidden")) or (nodeTitle is same as("This page is temporarily unavailable.")) or (nodeTitle is same as("Oops! We can't find this file")) %}
      <script>
        if (typeof dataLayer != "undefined") dataLayer.push({"pageType": "Error Page", "errorType": "WCM Error Page"});
      </script>
    {% elseif nodeTitle is same as("Newsroom")%}
      <script>
        if (typeof dataLayer != "undefined") dataLayer.push({"pageType": "Home Page"});
      </script>
    {% else %}
      <script>
        if (typeof dataLayer != "undefined") dataLayer.push({"pageType": "{{nodeTitle}}"});
      </script>
    {% endif %}
  {% endif %}
  </div>
</div>
</div>

{% if page.off_canvas %}
  <section class="off-canvas">
    {{ page.off_canvas }}
  </section>
{% endif %}
